<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>अन्नदाता</title>

    <style>
        
        img{
          width: 100%;
          height: 15cm;
        }
        .caption span.border {
          background-color: rgb(0, 0, 0);
          color: #fff;
          padding: 18px;
          font-size: 25px;
          letter-spacing: 0px;
      }
      .caption {
        
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: rgb(0, 255, 21);
    }

</style>
</head>

<body>
    <nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">अन्नदाता</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">contact</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            {% if user.is_authenticated %}
            <li class="nav-item" style="color: white;"> Hello, {{user.first_name}}  </li>
            <form class="form-inline my-2 my-lg-0" action="logout">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">logout</button>
            </form>
            {% else %}	
            <form class="form-inline my-2 my-lg-0" action="account/register">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
          </form>
          <form class="form-inline my-2 my-lg-0" action="account/login">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">login</button>
        </form>
            {% endif %}


            

        </div>
    </nav>
    <img src="https://media.nationalgeographic.org/assets/photos/120/983/091a0e2f-b93d-481b-9a60-db520c87ec33.jpg">

      <div class="caption">
        <br>
        <br>
      <span class="border">अन्नदाता</span><br>
      <br>
      <span class="border">Way to inhance your farming</span>
      </div>

    

                        {% for dest in dests %}
                        <div class="card bg-dark text-white w-50" >
                            <img src="{{ dest.img.url }}" class="mx-auto d-block" alt="">
                            <div class="card-img-overlay">
                                <h1 class="card-title">{{dest.name}}</h1>
                                <p class="card-text">{{dest.desc}}</p>
                                <p class="card-text">{{dest.duration}}</p>
                            </div>
                        </div>
                        {% endfor %}






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>